body{
    background-image: url(cave1.webp);
}
h1{
    color: lightgrey;
}
h2{
    color: lightgrey;
}
h3{
    color: darkolivegreen;
}
.clicker{
    background-color: #2c2d2e;
    width: 270px;
    height: 250px;
    font-size: xx-large;
}
.container{
    background-color: #2c2d2e;
    width: 1000px;
    height: 500px;
}
#outerdiv{
    background-color: grey;
    width: 1005px;
}